<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/user/signin.css" rel="stylesheet">
    <!--layui-->
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layui/css/layui.mobile.css" media="all">
    <link rel="stylesheet" href="../css/user/register.css" media="all">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
</head>

<body>

<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading">请登录</h2>
        <label for="card-number" class="sr-only">卡号</label>
        <input id="card-number" lay-verify="required" class="form-control" placeholder="请输入卡号">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="请输入密码">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <a class="btn btn-lg btn-success" href="/library/frontend/register">注册</a>
        <a class="btn btn-lg btn-success" id="login">登陆</a>
    </div>

</div> <!-- /container -->

</body>
<script src="../js/jquery.js"></script>
<script src="../js/user/login.js"></script>
<script src="../layui/layui.all.js" charset="utf-8"></script>
<script src="../js/user/register.js" charset="utf-8"></script>
</html>
